@model I_RAY_ASSET_TRACKER_MVC.Models.WorkingAssetListModel

@{
    ViewBag.Title = "WorkingAssetList";
    Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
}

<style>
    .row {
        margin-top: 2rem;
    }

    #partialContainer {
        margin-top: 2rem;
    }
</style>

<script>
    debugger;
    $(document).ready(function () {
        // Attach an event listener to the dropdown change event
        $("#AssetBelongsTo").on("change", function () {
            debugger;
            var assetBelongsToselectedValue = $(this).val();
            $('#AssetType').empty();
            var partialContainer = $("#partialContainer"); // Get the target container

            // Use AJAX to load the partial view content into the container
            $.ajax({
                url: "/WorkingAssetList/AssetBelongsLoadPartialView", // Replace with your controller and action method
                data: { assetBelongsToselectedValue: assetBelongsToselectedValue },
                success: function (result) {
                    partialContainer.html(result); // Load the content into the container
                    $('#Team').empty();
                    $('#Team').append("<option>-- Select Team --</option>");
                }
            });

            if ($('#AssetBelongsTo').val() != "--Select Assets Belongs To--") {
                var RequestRaisedOptions = {};
                RequestRaisedOptions.url = "/WorkingAssetList/AssetType";
                RequestRaisedOptions.type = "POST";
                RequestRaisedOptions.datatype = "json";
                RequestRaisedOptions.contentType = "application/json";
                RequestRaisedOptions.success = function (result) {
                    $('#AssetType').empty();
                    $('#AssetType').append("<option>-- Select --</option>");
                    for (var i = 0; i < result.length; i++) {
                        /* debugger;  */
                        $('#AssetType').append("<option>" + result[i] + "</option>");
                    }
                    $('#AssetType').prop("disabled", false);
                };
                RequestRaisedOptions.error = function () {
                    alert("Error in Getting AssetTypes!!");
                };
                $.ajax(RequestRaisedOptions);
            } else {
                $('#AssetType').empty();
                $('#AssetType').prop("disabled", true);
            }

            if ($('#AssetBelongsTo').val() != "--Select Assets Belongs To--") {
                var RequestRaisedOptions = {};
                RequestRaisedOptions.url = "/WorkingAssetList/AssetTeam";
                RequestRaisedOptions.type = "POST";
                RequestRaisedOptions.datatype = "json";
                RequestRaisedOptions.contentType = "application/json";
                RequestRaisedOptions.success = function (result) {
                    $('#Team').empty();
                    $('#Team').append("<option>-- Select Team --</option>");
                    for (var i = 0; i < result.length; i++) {
                        /* debugger;  */
                        $('#Team').append("<option>" + result[i] + "</option>");
                    }
                    $('#Team').prop("disabled", false);
                };
                RequestRaisedOptions.error = function () {
                    alert("Error in Getting AssetTypes!!");
                };
                $.ajax(RequestRaisedOptions);
            } else {
                $('#Team').empty();
                $('#Team').prop("disabled", true);
            }
        });
    });

    $(document).ready(function () {
        // Attach an event listener to the dropdown change event
        $("#AssetType").on("change", function () {
            var assetBelongsToselectedValue = $("#AssetBelongsTo").val();
            var assetType = $(this).val();
            var partialContainer = $("#partialContainer"); // Get the target container

            // Use AJAX to load the partial view content into the container
            $.ajax({
                url: "/WorkingAssetList/AssetTypeLoadPartialView", // Replace with your controller and action method
                data: {
                    assetType: assetType,
                    assetBelongsToselectedValue: assetBelongsToselectedValue
                },
                success: function (result) {
                    partialContainer.html(result); // Load the content into the container
                }
            });
            if ($('#AssetType').val() != "-- Select --") {
                var RequestRaisedOptions = {};
                RequestRaisedOptions.url = "/WorkingAssetList/AssetTeam";
                RequestRaisedOptions.type = "POST";
                RequestRaisedOptions.datatype = "json";
                RequestRaisedOptions.contentType = "application/json";
                RequestRaisedOptions.success = function (result) {
                    $('#Team').empty();
                    $('#Team').append("<option>-- Select Team --</option>");
                    for (var i = 0; i < result.length; i++) {
                        /* debugger;  */
                        $('#Team').append("<option>" + result[i] + "</option>");
                    }
                    $('#Team').prop("disabled", false);
                };
                RequestRaisedOptions.error = function () {
                    alert("Error in Getting AssetTypes!!");
                };
                $.ajax(RequestRaisedOptions);
            } else {
                $('#Team').empty();
                $('#Team').prop("disabled", true);
            }
        });
    });

    $(document).ready(function () {
        // Attach an event listener to the dropdown change event
        $("#Team").on("change", function () {
            var assetBelongsToselectedValue = $('#AssetBelongsTo').val();
            var assetTypeselectedValue = $('#AssetType').val();
            var teamselectedValue = $(this).val(); // Get the selected value from the dropdown
            var partialContainer = $("#partialContainer"); // Get the target container

            // Use AJAX to load the partial view content into the container
            $.ajax({
                url: "/WorkingAssetList/LoadPartialView", // Replace with your controller and action method
                data: {
                    teamselectedValue: teamselectedValue,
                    assetTypeselectedValue: assetTypeselectedValue,
                    assetBelongsToselectedValue: assetBelongsToselectedValue
                },
                success: function (result) {
                    partialContainer.html(result); // Load the content into the container
                }
            });
        });
    });


    $(document).ready(function () {
        $(".btnSearchSubmit").click(function () {
            var serialNoInvoiceNo = $("#SerilaNoInvoiceNo").val();
            $.ajax({
                type: "POST",
                url: "/WorkingAssetList/SearchSerialNoInvoiceNo",
                data: { serialNoInvoiceNo: serialNoInvoiceNo },
                success: function (response) {
                    $("#SearchSerialNoInvoiceNoModal").find(".modal-body").html(response);
                    $("#SearchSerialNoInvoiceNoModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });

    function DisplayProgressMessage(ctl, msg) {
        var AssetBelongsTo = $('#AssetBelongsTo');
        var AssetType = $('#AssetType');
        var Team = $('#Team');
        if ((AssetBelongsTo.val() == "") && (AssetType.val() == "") && (Team.val() == "")) {
            alert("Please select.");
            return false;
        }
        return true;
        this.submit();
    }
</script>

<div class="pagetitle">
    <h1>Working Asset-List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Working Asset-List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

@using (Html.BeginForm("PDFReport", "WorkingAssetList", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.AssetBelongsTo, new SelectList(new[] { "i-ray Asset", "Client Asset" }), "--Select Assets Belongs To--", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.AssetType, Enumerable.Empty<SelectListItem>(), "-- Select --", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Team, (IEnumerable<SelectListItem>)ViewData["Team"], "-- Select Team --", new { @class = "form-control" })
        </div>
        <div class="col-md-1">
            <button type="submit" class="button btn btn-primary" onclick="return DisplayProgressMessage(this, 'Generate...');">
                <i class="fas fa-fw fa-file-pdf"></i>
                <span>PDF</span>
            </button>
        </div>
    </div>
}
@using (Html.BeginForm("SerialNoInvoiceNoPDFReprot", "WorkingAssetList", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-2">
            <span>SerialNo/InvoiceNo : </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.SerilaNoInvoiceNo, new { @class = "form-control" })
        </div>
        <div class="col-md-1">
            <button id="" type="button" class="btnSearchSubmit button btn btn-primary" data-toggle="modal" data-target="#SearchSerialNoInvoiceNoModal">
                Search
            </button>
        </div>
        <div class="col-md-1">
            <button type="submit" class="button btn btn-primary">
                <i class="fas fa-fw fa-file-pdf"></i>
                <span>PDF</span>
            </button>
        </div>
    </div>
}

<div id="partialContainer">

</div>

<div id="SearchSerialNoInvoiceNoModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-label="SearchSerialNoModalLable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title fs-5" id="SearchSerialNoModalLable">Reports</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

