@model I_RAY_ASSET_TRACKER_MVC.Models.AssetDeallocationModel

@{
    ViewBag.Title = "AssetDeallocation";
    Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
}

<style>
    .row.justify-content-center {
        margin-top: 1rem;
    }
</style>

<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (result) {
                    $('#SearchEmployeeID').html(result);
                },
                error: function () {
                    alert('Error occurred while fetching employee details.');
                }
            });
        });
    });

</script>

<div class="pagetitle">
    <h1>AssetDeallocation</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">AssetDeallocation</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

@using (Html.BeginForm("SearchEmployeeID", "AssetDeallocation", FormMethod.Post))
{
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <span>EmployeeID :</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.EmployeeID, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <button id="btnEmployeeID" type="submit" class="btn btn-primary">GO</button>
                </div>
            </div>
        </div>
    </div>
}

<div id="SearchEmployeeID">
    @Html.Partial("_SearchEmployeeIDpartialView")
</div>

