@model I_RAY_ASSET_TRACKER_MVC.Models.LoginModelClass

@ViewBag.ErrorMessage

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("EmployeeID :")
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "input" } })
        </div>
    </div>
</div>
