@model I_RAY_ASSET_TRACKER_MVC.Models.AssetClearanceLetterModel

@{
    ViewBag.Title = "AssetClearanceLetter";
    if (Session["Role"].ToString() == "AssetManager")
    {
        Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
    }
    else if (Session["Role"].ToString() == "User")
    {
        Layout = "~/Views/Shared/UserDashBoardLayout.cshtml";
    }
    else if (Session["Role"].ToString() == "Manager")
    {
        Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
    }
    else if (Session["Role"].ToString() == "Admin")
    {
        Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
    }
    var errorMessage = TempData["ErrorMessage"] as string;
}

<style>
    .row {
        margin-bottom: 1rem;
    }
</style>
<script>
    $(function () {
        $("#dismissBtn").click(function () {
            // Hide the error message div
            $("#errorMessage").fadeOut();
        });
    });

    $(function () {
        $("#AssetClearanceLetterID").click(function () {
            var EmpID = $('#EmpID').val();
            if (EmpID == '') {
                alert('Please Enter the EmployeeID.');
                return false;
            }
            return true;
            this.submit();
        });
    });

    window.onload = function () {
        var divToHide = document.getElementById('errorMessage');
        setTimeout(function () {
            divToHide.style.display = 'none';
        }, 8000);
    };
</script>
<div class="pagetitle">
    <h1>Asset Clearance Letter - NOC</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Asset Clearance Letter - NOC</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-2">
            <span>Employee ID : </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.EmpID, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <button type="submit" id="AssetClearanceLetterID" class="btn btn-primary"><i class="fa fa-clone" aria-hidden="true">Asset Clearance</i></button>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="errorMessage" class="alert alert-danger">
        @errorMessage<button id="dismissBtn" type="button" class="close">
            <span>&times;</span>
        </button>
    </div>
}