@model I_RAY_ASSET_TRACKER_MVC.Models.AuditModel

@{
    ViewBag.Title = "AuditReport";
    Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
}

<style>
    h4 {
        font-size: 2rem;
    }

    .row {
        margin-top: 1rem;
    }
</style>
<script>
    $(document).ready(function () {
        $("#AuditReviewEmployeeId").click(function () {
            var EmployeeId = $('#EmployeeID').val();
            var AssetsReviewpartialView = $('#AssetsReviewpartialView'); // Get the target container
            if (EmployeeId.trim() === '') {
                alert('Please Enter the EmployeeID...');
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/AuditReport/AssetReviewFromEmployeeID",
                data: {
                    EmployeeId: EmployeeId
                },
                success: function (response) {
                    AssetsReviewpartialView.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#AuditReviewEmployeeName").click(function () {
            var EmployeeName = $('#EmployeeName').val();
            var AssetsReviewpartialView = $('#AssetsReviewpartialView'); // Get the target container
            if (EmployeeName.trim() === '') {
                alert('Please Enter the EmployeeName...');
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/AuditReport/AssetReviewFromEmployeeName",
                data: {
                    EmployeeName: EmployeeName
                },
                success: function (response) {
                    AssetsReviewpartialView.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#btnAlertMailId").click(function () {
            $.ajax({
                type: "POST",
                url: "/AuditReport/AssetReviewAlertMail",               
                success: function (response) {
                    alert(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });

    $(document).ready(function () {
        $("#EmployeeName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AuditReport/AutoCompleteEmployeeName',
                    type: 'GET',
                    dataType: 'json',
                    data: { term: request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 1 // Adjust as needed
        });
    });
</script>
@*<div class="row">
        <h4 class="text-center">Assets-Review</h4>
    </div>*@
<div class="pagetitle">
    <h1>Assets-Review</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Assets-Review</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-3">
        <span>Assets Review Alert Mail : </span>
    </div>
    <div class="col-md-2">
        <button id="btnAlertMailId" type="submit" class="button btn btn-primary">
            <span>Alert Mail</span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-2">
        <span>EmployeeID : </span>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.EmployeeID, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <button id="AuditReviewEmployeeId" type="submit" class="button btn btn-primary">
            <span>Get Details</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-2">
        <span>EmployeeName : </span>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <button id="AuditReviewEmployeeName" type="submit" class="button btn btn-primary">
            <span>Get Details</span>
        </button>
    </div>
</div>
<div class="row">
    <div id="AssetsReviewpartialView">

    </div>
</div>
